{% extends 'base/base.html' %}
{% block content %}
    <table style="width: 50%; margin: auto; margin-top: 2%" class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">員工姓名</th>
      <th scope="col">未完工</th>
    </tr>
  </thead>
  <tbody>
    {% for staff in staffs %}
        <tr style="cursor: pointer" onclick="location.href='/staff/{{ staff.id }}'">
          <th scope="row">{{ staff.id }}</th>
          <td>{{ staff.name }}</td>
          <td>{{ staff.unm }}</td>
        </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}